h1{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: black;
    font-weight: bold;
    

}
p{
    text-align: justify;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
ul{
    list-style: none;
}
li{
    color: red;
    font-style: normal;
    text-align:none;

}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;


}
